@model AskDonJuan.Models.ResponseModel

@{
    ViewData["Title"] = "DeltPaaToPlussSyv";
}

<h2>DeltPaaToPlussSyvView</h2>

<div>
    <h2>Divide by two and add seven BRUH!</h2>
    <h3>You never heard of an age cap bruh? Shheeeshh, get someone at ya own age bruh...</h3>
    <hr />

</div>

